<!-- Issuer Name --> 

<div class="panel panel-info">
	<div class="panel-heading">
		Attention: This is a demo. Feel free to click around on each of the bond characteristics below. To learn more about the MuniSearch project, click <%= link_to "here", about_path =%>
	</div>
</div>

<div class="page-header">
	<h1>NEW YORK CITY G.O. SUB SERIES F-1 <small> 64966LQ46 </small></h1>
</div>

<!-- Nav Tab Structure -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#home" role="tab" data-toggle="tab">General</a></li>
	<li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
	<li><a href="#messages" role="tab" data-toggle="tab">Recent Trades</a></li>
	<li><a href="#settings" role="tab" data-toggle="tab">Documents</a></li>
</ul>

</br>

<!-- TAB CONTENTS -->
<div class="tab-content">

	<!-- GENERAL TAB -->
	<div class="tab-pane active" id="home">
		
		<!-- DESCRIPTIVES -->

		<!-- FIRST COLUMN -->
		<div class="col-md-3 descriptives">
			
			<!-- Date Issued -->
			<div class="panel panel-default">
  				<div class="panel-heading">
   					 <h3 class="panel-title">Date Issued</h3>
   				</div> <!-- Heading -->
   				<div class="panel-body">
   					<a class="btn btn-default btn-lg" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Explaining Date Issued" data-content="The Date Issued date represents the day the underwriter received the award on the new issue pricing. Most municipal bonds are offered through a broker dealer who will underwrite the new issue to the specifications of the issuer, and the pricing markets warrant at that time."> 
   					<span style="font-size:larger;"> Jun 3 2015 </span>
   					</a>
   				</div> <!-- Panel Body -->
   		</div> <!-- Date Issued Panel -->
	 		
			<!-- COUPON -->
			<div class="panel panel-default">
  				<div class="panel-heading">
   					 <h3 class="panel-title">Coupon</h3>
   				</div> <!-- Heading -->
   				<div class="panel-body">
   					<a class="btn btn-default btn-lg" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Explaining Coupon Payments" data-content="Typically, your coupon will be paid to you twice per year. Every six months you will be paid 1/2 of your full coupon payment. Typically, this interest income is exempt from Federal taxes. If you purchase bonds in the state of your residence, you could be exempt from State taxes as well."> 
   					<span style="font-size:larger;"> 5% </span>
   					</a>
   				</div> <!-- Panel Body -->
   		</div> <!-- COUPON PANEL -->

   		<!-- MATURITY -->
   		<div class="panel panel-default">
  			<div class="panel-heading">
   				 <h3 class="panel-title">Maturity</h3>
   			</div> <!-- Heading -->
   			<div class="panel-body">
   				<a class="btn btn-default btn-lg" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Explaining Maturity Date" data-content="This date represents when your bond will mature. On this date, assuming no default or impairment, you will receive the par value of your investment back, along with your final coupon payment."> 
   					<span style="font-size:larger;"> Jun 1 2035 </span>
   				</a> <!-- Button & Contents -->
   			</div> <!-- Panel Body -->
   		</div> <!-- Panel -->
   	</div>

		<!-- SECOND COLUMN -->
		<div class="col-md-3 descriptives">

	 		<!-- DTD -->
	 		<div class="panel panel-default">
					<div class="panel-heading">
	 					 <h3 class="panel-title">Dated Date</h3>
	 				</div> <!-- Heading -->
	 				<div class="panel-body">
	   				<a class="btn btn-default btn-lg" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Explaining Dated Date" data-content="This date represents when the bond initially started accruing interest to be paid to the holder. This is typically the equivalent to a settlement date."> 
	   					<span style="font-size:larger;"> Jun 18 2015 </span>
	 					</a>
	 				</div> <!-- Panel Body -->
	 		</div> <!-- DTD PANEL -->

	 		<!-- RATING -->
	 		<div class="panel panel-default">
					<div class="panel-heading">
	 					 <h3 class="panel-title">Ratings</h3>
	 				</div> <!-- Heading -->
	 				<div class="panel-body">
	 					<!-- Moody's -->
	 					<a class="btn btn-default btn-lg" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Explaining Moody's Ratings" data-content="In order of credit quality, Moody's rates their bonds on the following scale:
	 					Aaa, Aa1, Aa2, Aa3, A1, A2, A3, Baa1, Baa2, Baa3, Caa1, Caa2, Caa3, D"> 
	 					<span style="font-size:larger;">
	 						Aa2 </span>
	 					</a>
	 					<!-- S&P -->
						<a class="btn btn-default btn-lg" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Explaining Standard and Poor's Ratings" data-content="In order of credit quality, Standard and Poor's rates their bonds on the following scale: AAA, AA+, AA, AA-, A+, A, A-, BBB+, BBB, BBB-, CCC+, CCC, CCC-, D"> 
	 					<span style="font-size:larger;">
	 						AA+ </span>
	 					</a>
	 				</div> <!-- Panel Body -->
	 		</div> <!-- RATING PANEL -->

	 		<!-- CALL DATE -->
   		<div class="panel panel-default">
  			<div class="panel-heading">
   				 <h3 class="panel-title">Call Date</h3>
   			</div> <!-- Heading -->
   			<div class="panel-body">
   				<a class="btn btn-default btn-lg" tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Explaining the Call Date" data-content="If applicable, this date represents the first time the issuer could purchase your bonds back at a certain price (typically par). It is an optional provision, and is typically only acted upon if there is a chance for a refinancing.">
   					<span style="font-size:larger;"> Jun 1 2025 </span>
   				</a> <!-- Button & Contents -->
   			</div> <!-- Panel Body -->
   		</div> <!--CALL DATE Panel -->
   	</div> <!-- SECOND COLUMN -->

   	<!-- END DESCRIPTIVES -->

		<!-- MAP -->
		<div class="col-md-6">
			<%= image_tag("NYC_GMAP.png", :class => "img-responsive", :alt => "NYC Map") %>
		</div> <!-- MAP -->

	</div> <!-- GENERAL TAB -->

	<!-- PROFILE TAB-->
	<div class="tab-pane" id="profile"></div>

	<!-- RECENT TRADES -->
	<div class="tab-pane" id="messages">
		For the most recent trades for this cusip, please visit: 
			<%= link_to "EMMA", "http://emma.msrb.org/SecurityDetails/TradeActivity/A4323D5B99FC2BDA14A23E21F82ED47CE", class: "btn btn-default", type: "button", :target => "_blank" %>
			<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
	</div>

	<!-- DOCUMENTS -->
	<div class="tab-pane" id="settings">
		For Official Statements and most recent continuing disclosure documents, please visit:
			<%= link_to "EMMA", "http://emma.msrb.org/SecurityView/SecurityDetails.aspx?cusip=A4323D5B99FC2BDA14A23E21F82ED47CE", class: "btn btn-default", type: "button", :target => "_blank" %>
			<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
	</div>

</div> <!-- Tab Contents -->