<!-- Main Display -->

<div class="jumbotron center">
	<h1>MuniSearch<small></h1>
	<p>Understand exactly what you are investing in.</p>

<!-- 	Form to enter cusip -->
<!-- NEED TO CREATE THE ACTUAL FORM TO METHOD: GET CUSIP -->

	<div class="row">
		<div class-"col-lg-6">
			<div class="input-group input-group-lg">
				<span class="input-group-addon">CUSIP</span>
				<input type="text" class="form-control" placeholder="Search">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><%= link_to "Go!", munitemp_path %></button>
				</span>
			</div> <!-- /input group -->
		</div> <!-- /col-lg-6 -->
	</div>  <!-- /row -->

</div> <!-- /jumbotron -->


