<!-- Main Display -->

<div class="jumbotron center">
	<h1>MuniSearch<small></h1>
	<p>Understand exactly what you're investing in.</p>

<!-- 	Form to enter cusip -->
<!-- NEED TO CREATE THE ACTUAL FORM TO METHOD: GET CUSIP -->

	<div class="row">
		<div class-"col-lg-6">
			<div class="input-group input-group-lg">
				<span class="input-group-addon">CUSIP</span>
				<input type="text" class="form-control" placeholder="Search">
				<span class="input-group-btn">
					<%= link_to "Go!", munitemp_path, class: "btn btn-default", type: "button" %>
				</span>
			</div> <!-- /input group -->
		</div> <!-- /col-lg-6 -->
	</div>  <!-- /row -->
	</br> </br> </br>
	<p2> Don't know the CUSIP? Try our <%= link_to "Muni Analyzer!", invanalyzer_path %> </p2>
</div> <!-- /jumbotron -->


