<div class="jumbotron center">
	<h1>Welcome to the </br> Muni Analyzer!</h1>
	<p2 class="lead">If you are considering the purchase of a municipal bond, or would like to learn more about one you already own, this tool will be of great help. We will ask you a series of questions about the bond in question and display all of the relevant information about the cashflows, maturity, call date, price and yield.</p2>
	
	</br>
	</br>

	<a class="btn btn-primary btn-lg">
		Get Started!
	</a>
</div>

<div class="center">
	</br>

	<form class="form-inline">
	  <div class="form-group">
	    <label for="par">Par (000's)</label>
  		<input type="number" class="form-control" id="par" placeholder="1000">
	  </div>

	  <div class="form-group">
	    <label for="exampleInputEmail2">Email</label>
	    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
	  </div>
  </form>
	
	<p>Coupon and Your Cashflow</p>
	</br>

	<p>Maturity and Call Dates</p>
	</br>

	<p>Price and Yield</p>
	</br>
</div>