<div class="jumbotron center">
	<h1>Welcome to the </br> Muni Analyzer!</h1>
		</br>
	<h4>Are you considering the purchase of a municipal bond? </br> Or would you like to learn a bit more about one you already own? </br> </br> Either way, this tool will be of great help.</h4>
		</br>
	<a href ="#myModal" role="button" class="btn btn-success btn-lg" data-toggle="modal">Get Started!</a>
		</br>
		</br>
	<p3 class="small"> Know the CUSIP? </br> Automatically load your bond characteristics by using the traditional <%= link_to "MuniSearch!", root_path %> </p3>
</div> <!-- JUMBOTRON -->

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>


<!-- START FORM FOR DETAIL INPUT -->
<div class="center">
	<form class="form-inline">
	<div class="form-group">
		<label for="par">Par (000's)</label>
		<input type="number" class="form-control" id="par" placeholder="1000">
	</div>

	<div class="form-group">
		<label for="exampleInputEmail2">Email</label>
		<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
	</div>
	</form>

	<p>Coupon and Your Cashflow</p>
		</br>
	<p>Maturity and Call Dates</p>
		</br>
	<p>Price and Yield</p>
		</br>
</div>