<!-- Issuer Name -->
<div class="page-header">
	<h1>NEW YORK CITY G.O. SERIES A-2015 <small> 649034XY2</small></h1>
</div>

<p1>Variables that need to be considered to make an accurate guess</p1>
<ul>
	<li>Date of trade</li>
	<li>Par amount purchased</li>
	<li>Classification of trades (Dealer, Sale to Customer, Purchase from Customer, etc.)</li>
	<li>Price purchased</li>
</ul>