<!-- Issuer Name -->
<div class="page-header">
	<h1>NEW YORK CITY G.O. SERIES A-2015 <small> 649034XY2</small></h1>
</div>


<!-- Nav Tab Structure -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#home" role="tab" data-toggle="tab">General</a></li>
	<li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
	<li><a href="#messages" role="tab" data-toggle="tab">Recent Trades</a></li>
	<li><a href="#settings" role="tab" data-toggle="tab">Documents</a></li>
</ul>

</br>

<!-- Tab Contents -->
<div class="tab-content">

	<!-- General Tab -->
	<div class="tab-pane active" id="home">
		<div class="col-md-6"> <!-- DESCRIPTIVES -->
			COUPON </br>
			MATURITY </br>
			MOODY'S RATING </br>
			SP RATING </br>
			FITCH RATING </br>
			CALL FEATURE </br>
		</div>
		<div class="col-md-6"> <!-- MAP -->
			<%= image_tag("NYC_GMAP.png", :class => "img-responsive", :alt => "NYC Map") %>
		</div>
	</div>

	<!-- Profile Tab -->
	<div class="tab-pane" id="profile">Biltong strip steak cow, ham ball tip drumstick kevin pork loin bacon tri-tip flank. Kielbasa jerky filet mignon pig, brisket rump boudin bresaola flank prosciutto strip steak meatball bacon beef ribs. Meatball landjaeger ham hock, capicola chuck short ribs beef sausage brisket prosciutto tongue. Pork chop pork short ribs pancetta beef. Beef pastrami sirloin, strip steak pork chop landjaeger ribeye pancetta. Bacon brisket ham hock short ribs chuck pork chop.</div>

	<!-- Recent Trades -->
	<div class="tab-pane" id="messages">Drumstick kielbasa tongue, ribeye pork belly pancetta pork chop salami pork loin sirloin shoulder tri-tip bacon meatball swine. Spare ribs salami frankfurter prosciutto shoulder brisket jowl. Shank bresaola pig, sausage tongue venison strip steak. Shank tongue boudin ball tip.</div>

	<!-- Documents -->
	<div class="tab-pane" id="settings">
		For Official Statements and most recent continuing disclosure documents, please visit: 
		</br>
		<%= link_to "EMMA", "http://emma.msrb.org" %>
	</div>

</div> <!-- Tab Content -->

