<!-- Issuer Name -->
<div class="page-header">
	<h1>NEW YORK CITY G.O. SERIES A-2015 <small> 649034XY2</small></h1>
</div>


<!-- Nav Tab Structure -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#home" role="tab" data-toggle="tab">General</a></li>
	<li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
	<li><a href="#messages" role="tab" data-toggle="tab">Recent Trades</a></li>
	<li><a href="#settings" role="tab" data-toggle="tab">Documents</a></li>
</ul>

</br>

<!-- TAB CONTENTS -->
<div class="tab-content">

	<!-- GENERAL TAB -->
	<div class="tab-pane active" id="home">
		
		<!-- DESCRIPTIVES -->
		<div class="col-md-3 descriptives">
			<div class="panel panel-default">
  				<div class="panel-heading">
   					 <h3 class="panel-title">COUPON</h3>
   				</div> <!-- Heading -->
   				<div class="panel-body">
   					<a class="btn btn-default btn-lg" tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Explaining Coupon Payments" data-content="This is where the description of the coupon payment of $xxM bonds will go"> 
   					<span style="font-size:larger;">
   						5% </span>
   					</a>
   				</div> <!-- Panel Body -->
   			</div> <!-- Panel -->
   		</div> <!-- Column -->

   		<div class="col-md-3 descriptives">	
   			<div class="panel panel-default">
  				<div class="panel-heading">
   					 <h3 class="panel-title">MATURITY</h3>
   				</div> <!-- Heading -->
   				<div class="panel-body">
   					<a class="btn btn-default btn-lg" tabindex="0" href="#" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Explaining Maturity Date" data-content="This is where the description of the final maturity of the bond will go"> 
   						<span style="font-size:larger;">
   						Nov 15 2019 </span>
   					</a>
   				</div> <!-- Panel Body -->
   			</div> <!-- Panel -->
		</div> <!-- Descriptives -->

		<!-- MAP -->
		<div class="col-md-6">
			<%= image_tag("NYC_GMAP.png", :class => "img-responsive", :alt => "NYC Map") %>
		</div> <!-- Map -->

	</div> <!-- General tab -->

	

	<!-- Profile Tab -->
	<div class="tab-pane" id="profile">Biltong strip steak cow, ham ball tip drumstick kevin pork loin bacon tri-tip flank. Kielbasa jerky filet mignon pig, brisket rump boudin bresaola flank prosciutto strip steak meatball bacon beef ribs. Meatball landjaeger ham hock, capicola chuck short ribs beef sausage brisket prosciutto tongue. Pork chop pork short ribs pancetta beef. Beef pastrami sirloin, strip steak pork chop landjaeger ribeye pancetta. Bacon brisket ham hock short ribs chuck pork chop.</div>

	<!-- Recent Trades -->
	<div class="tab-pane" id="messages">Drumstick kielbasa tongue, ribeye pork belly pancetta pork chop salami pork loin sirloin shoulder tri-tip bacon meatball swine. Spare ribs salami frankfurter prosciutto shoulder brisket jowl. Shank bresaola pig, sausage tongue venison strip steak. Shank tongue boudin ball tip.</div>

	<!-- Documents -->
	<div class="tab-pane" id="settings">
		For Official Statements and most recent continuing disclosure documents, please visit: 
		</br>
		<%= link_to "EMMA", "http://emma.msrb.org" %>
	</div>

</div> <!-- Tab Contents -->

















