<h1>Listing Cusips </h1>
 
<table>
  <tr>
    <th>Cusip</th>
    <th>Issuer</th>
    <th>Coupon</th>
    <th>Maturity</th>
  </tr>
 
  <% @cusips.each do |cusip| %>
    <tr>
      <td><%= cusip.cusip %></td>
      <td><%= cusip.issuer %></td>
      <td><%= cusip.coupon %></td>
      <td><%= cusip.maturity %></td>
    </tr>
  <% end %>
</table>