<p>
	<strong>Cusip:</strong>
	<%= @cusip.cusip %>
</p>

<p>
	<strong>Issuer:</strong>
	<%= @cusip.issuer %>
</p>

<p>
	<strong>Coupon:</strong>
	<%= @cusip.coupon %>
</p>

<p>
	<strong>Maturity:</strong>
	<%= @cusip.maturity %>
</p>